:root {
  --hour-width: 195px;
  --forecast-width: 195px;
  --hour-index: 0;
  --forecast-index: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: rgb(54, 54, 54);
  font-size: 1.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(#000024 0%, #000079 35%, #00d4ff 100%);
  white-space: nowrap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#container {
  background-color: #ffffff;
  width: 750px;
  height: clamp(690px, 80%, 850px);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top-section {
  justify-content: space-between;
}

#left-section,
#right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 300px;
  padding-top: 20px;
}

#region-section,
#country-section,
#time-section,
#degree-section {
  font-size: 1.3rem;
}

#right-section {
  align-items: flex-end;
  gap: 2px;
}

#degree-section {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
}

#refresh-section {
  display: flex;
  flex: 0 0 auto;
  width: 45px;
  height: 45px;
  background-image: url('./images/refreshIcon.png');
  background-size: cover;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

#refresh-section:hover {
  transform: scale(1.1);
  background-image: url('./images/refreshIconAnimated.gif');
}

#top-section,
#bottom-section {
  display: flex;
  width: 100%;
  height: clamp(150px, 20%, 300px);
  padding: 0px 20px;
  box-sizing: border-box;
}

#middle-section {
  width: 100%;
  flex: 1 1 auto;
}

#middle-container-today,
#middle-container-hourly,
#middle-container-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle-container-today {
  font-size: 1.3rem;
}

#hourly-content-wrapper,
#forecast-content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

#hourly-content,
#forecast-content {
  display: flex;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.weather-wrapper,
.weather-wrapper-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.weather-wrapper {
  flex: 0 0 var(--hour-width);
  right: calc(var(--hour-index)*var(--hour-width));
}

.weather-wrapper-forecast {
  flex: 0 0 var(--forecast-width);
  right: calc(var(--forecast-index)*var(--forecast-width));
}

.weather-icon {
  width: 100px;
}

.weather-high,
.weather-low {
  font-size: 1.3rem;
}

#left-arrow-hourly,
#right-arrow-hourly,
#left-arrow-forecast,
#right-arrow-forecast {
  height: 100px;
  width: 80px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#left-arrow-hourly:hover,
#right-arrow-hourly:hover,
#left-arrow-forecast:hover,
#right-arrow-forecast:hover {
  transform: scale(1.1);
}

#title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 10px;
}

#weather-logo {
  width: 128px;
}


#bottom-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.select {
  cursor: pointer;
}

#select-section {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

#search-bar {
  display: flex;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 10px;
  background: white;
  color: #4e4e4e;
  width: 300px;
}

#search-bar input {
  border: none;
  background: transparent;
  margin: 0;
  width: 100%;
  padding: 2px 5px 2px 10px;
  font-size: 1rem;
  border: none;
  border-radius: inherit;
  color: inherit;
  box-sizing: border-box;
}

#search-button {
  width: 50px;
  border: none;
  cursor: pointer;
  background: transparent url('./images/searchIcon.png');
  background-size: contain;
  width: 35px;
  margin-right: 5px;
}

#search-bar input:focus {
  outline: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ slider button style from w3schools ~~~~~~~~~~~~~~~~~~~~~~~~~ */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000079;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #00d4ff;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}
  
.slider.round:before {
  border-radius: 50%;
}